/*--------------------------------------------------------------
# My Portfolio
--------------------------------------------------------------*/
#portfolio-flters {
  position: relative;
}

.portfolio #portfolio-flters {
  list-style: none;   
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px 10px 10px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  padding: 7px 10px;
  text-transform: uppercase;
  color: #444444;
  transition: all 0.3s ease-in-out;
  border: 2px solid #fff;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #7485A6;
  border-color: #7485A6;
}

.portfolio .portfolio-item {
  margin-bottom: 20px;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
  border-radius: 10px 10px 0 0 ;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.8s ease-in-out;
}

.portfolio .portfolio-item .portfolio-info {
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;

}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #fff;
}

.portfolio .portfolio-item .portfolio-info p {
  font-size: 16px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link,
.portfolio .portfolio-item .portfolio-info .personal-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover,
.portfolio .portfolio-item .portfolio-info .personal-link:hover {
  color: #FFB687;
}

.portfolio .portfolio-item .portfolio-info .details-link,
.portfolio .portfolio-item .portfolio-info .personal-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.1);
}
